<div class="container">
  <form [formGroup]="userRegFrm" class="m-3" (ngSubmit)="submit()">
    <div class="mb-3">
      <label for="fName" class="form-label">First Name</label>
      <input
        type="text"
        formControlName="firstName"
        class="form-control"
        id="fName"
        name="userFname"
      />
      <div
        class="alert alert-warning"
        [hidden]="firstName?.valid || firstName?.untouched"
      >
        <small *ngIf="firstName?.errors?.['required']">
          First Name is required
        </small>
        <small *ngIf="firstName?.errors?.['pattern']">
          First name must be 3 letters at least,
          <b>{{firstName?.errors?.['pattern'].actualValue}}</b> dosen't match.
        </small>
      </div>
    </div>

    <div class="mb-3">
      <label for="lName" class="form-label">Last Name</label>
      <input
        type="text"
        formControlName="lastName"
        class="form-control"
        id="lName"
        name="userLname"
      />
      <div
        class="alert alert-warning"
        [hidden]="lastName?.valid || lastName?.untouched"
      >
        <small *ngIf="lastName?.errors?.['required']">
          Last Name is required
        </small>
        <small *ngIf="lastName?.errors?.['pattern']">
          Last name must be 3 letters at least,
          <b>{{lastName?.errors?.['pattern'].actualValue}}</b> dosen't match.
        </small>
      </div>
    </div>

    <div class="mb-3">
      <label for="uName" class="form-label">Username</label>
      <input
        type="text"
        formControlName="username"
        class="form-control"
        id="uName"
        name="username"
      />
      <div
        class="alert alert-warning"
        [hidden]="username?.valid || username?.untouched"
      >
        <small *ngIf="username?.errors?.['required']">
          Username is required
        </small>
        <small *ngIf="username?.errors?.['pattern']">
          Username must be 8 letters at least,
          <b>{{username?.errors?.['pattern'].actualValue}}</b> dosen't match.
        </small>
      </div>
    </div>

    <div class="mb-3">
      <label for="uEmail" class="form-label">Email</label>
      <input
        type="email"
        formControlName="email"
        class="form-control"
        id="uEmail"
        name="useremail"
      />
      <div
        class="alert alert-warning"
        [hidden]="email?.valid || email?.untouched"
      >
        <small *ngIf="email?.errors?.['required']"> Email is required </small>
        <small *ngIf="email?.errors?.['existEmail']">
          Entered Email is used before,
          <b>{{email?.errors?.['existEmail'].value}}</b> can't be used
        </small>
        <small *ngIf="email?.errors?.['pattern']">
          This email
          <b>{{email?.errors?.['pattern'].value}}</b> dosen't match.
        </small>
      </div>
    </div>

    <div class="mb-3">
      <label for="phoneNum" class="form-label">Phone Number</label>
      <input
        type="text"
        formControlName="PhoneNumber"
        class="form-control"
        id="phoneNum"
        name="phonenumber"
      />
      <div
        class="alert alert-warning"
        [hidden]="PhoneNumber?.valid || PhoneNumber?.untouched"
      >
        <small *ngIf="PhoneNumber?.errors?.['required']">
          Phone Number is required
        </small>
        <small *ngIf="PhoneNumber?.errors?.['minlength']">
          Phone Number min Length is 11
        </small>
        <small *ngIf="PhoneNumber?.errors?.['maxlength']">
          Phone Number max Length is 11
        </small>
        <small *ngIf="PhoneNumber?.errors?.['pattern']">
          This phonenumber
          <b>{{PhoneNumber?.errors?.['pattern'].value}}</b> dosen't match.
        </small>
      </div>
    </div>

    <div class="mb-3">
      <label for="uPass" class="form-label">Password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        id="uPass"
        name="userPass"
      />

      <div
        class="alert alert-warning"
        [hidden]="password?.valid || password?.untouched"
      >
        <small *ngIf="password?.errors?.['required']">
          Password is required
        </small>
        <small *ngIf="password?.errors?.['pattern']">
          minimum eight characters<br />
          at least one Capital letter<br />
          at least one number<br />
          at least one special character
        </small>
      </div>
    </div>

    <div class="mb-3">
      <label for="uCPass" class="form-label">Confirm Password</label>
      <input
        type="password"
        formControlName="confirmPassword"
        class="form-control"
        id="uCPass"
        name="usercpass"
      />
      <div
        class="alert alert-warning"
        *ngIf="confirmPassword?.errors?.['required'] && confirmPassword?.touched"
      >
        Confirm Password is required
      </div>
      <div
        small
        class="alert alert-warning"
        *ngIf="userRegFrm?.errors?.['UnmatchedPassword']"
      >
        Confirm password must match password.
      </div>
    </div>

    <div class="alert alert-warning" *ngIf="ifError">
      <small> {{ errorMessage }} </small>
    </div>

    <button
      [disabled]="userRegFrm.invalid"
      type="submit"
      class="btn btn-primary"
    >
      Submit
    </button>
  </form>
</div>
