<div class="footer pt-3 pb-2 text-white-50 text-center text-md-start">
  <div class="container">
    <div class="row">
      <div class="col-6 col-lg-4">
        <div class="info mb-5">
          <a [routerLink]="['']">
            <img class="logo mb-4" src="../../../assets/logo.png" alt="" />
            <span class="p-2 p-lg-3 fs-3 logo-word">extraDrug</span>
          </a>

          <p class="mb-5">
            Donate excess drug to those in need<br />Find the drug you want with
            need quantity
          </p>
          <div class="copyright">
            Created By <span>ITI .Net Team</span>
            <div>&copy; 2023 - <span>Mansoura</span></div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-2"></div>
      <div class="col-6 col-lg-2">
        <div class="links">
          <h5 class="text-light">Links</h5>
          <ul class="list-unstyled lh-lg">
            <li><a [routerLink]="['login']">Sign In</a></li>
            <li><a [routerLink]="['register']">Register</a></li>
            <li><a [routerLink]="['contact']">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="contact">
          <h5 class="text-light">Contact Us</h5>
          <p class="lh-lg mt-3 mb-5">
            Get in touch with us via mail email. We are waiting for your message
          </p>
          <p class="btn rounded-pill main-btn w-100" href="#">
            ITIMansoura@gmail.com
          </p>
          <ul class="d-flex justify-content-evenly mt-5 list-unstyled gap-1">
            <li>
              <a class="d-block text-light" href="#">
                <i class="bi bi-facebook facebook rounded-circle p-2 fs-4"></i>
              </a>
            </li>
            <li>
              <a class="d-block text-light" href="#">
                <i class="bi bi-twitter twitter rounded-circle p-2 fs-4"></i>
              </a>
            </li>
            <li>
              <a class="d-block text-light" href="#">
                <i class="bi bi-linkedin linkedin rounded-circle p-2 fs-4"></i>
              </a>
            </li>
            <li>
              <a class="d-block text-light" href="#">
                <i class="bi bi-youtube youtube rounded-circle p-2 fs-4"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
