<div class="container mt-4" style="width: 500px">
  <mat-form-field class="row d-flex justify-content-center">
    <mat-select
      [formControl]="drugsCtrl"
      placeholder="Search for needed drug"
      #singleSelect
      (valueChange)="setDrugId(singleSelect.value.id)"
    >
      <mat-option>
        <ngx-mat-select-search
          [formControl]="drugsFilterCtrl"
        ></ngx-mat-select-search>
      </mat-option>

      <mat-option *ngFor="let drug of filteredDrugs | async" [value]="drug">
        {{ drug.en_Name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<button
  (click)="searchForDrug()"
  class="btn btn-primary m-auto d-block"
  style="width: 100px"
>
  Search
</button>

<div class="container">
  <div class="row">
    <div *ngFor="let userDrug of serachedDrugs; index as i" class="col-3">
      <div class="card mt-5" style="width: 18rem">
        <img
          [src]="
            'http://localhost:5250/' +
            userDrug.photos[userDrug.photos.length - 1].apiPath
          "
          class="card-img-top"
          style="width: 18rem; height: 18rem"
        />
        <div class="card-body">
          <h5 class="card-title">{{ singleSelect.value.en_Name }}</h5>
          <p class="card-text">
            Expire Date:
            {{ userDrug.expireDate }}
          </p>
          <p class="card-text">
            Quantity:
            {{ userDrug.quantity }}
          </p>
          <p class="card-text">
            Distance from you:
            {{ userDrug.distance }}KM
          </p>
          <p class="card-text">
            Created At:
            {{ userDrug.createdAt }}
          </p>
          <a
            style="width: 70%"
            class="btn btn-primary m-auto d-block"
            [routerLink]="[
              '/drugRequest',
              userDrug.id,
              userDrug.userId,
              userDrug.quantity
            ]"
            >Request this drug</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="text-center">
  <h2>aaaa</h2>
  <h2>aaaa</h2>
  <h2>aaaa</h2>
  <h2>aaaa</h2>
  <h2>aaaa</h2>
  <h2>aaaa</h2>
  <h2>aaaa</h2>
</div> -->
<!-- <p>Selected Bank: {{ websiteCtrl.value?.name }}</p> -->
