<!-- Start Landing  -->
<div class="landing d-flex justify-content-center align-items-center">
  <div class="text-center text-light landing-info">
    <!-- <h1 class="title pt-3 pb-3 ps-5 pe-5 mb-5"> -->
    <!-- <a
      class="btn rounded-pill main-btn mb-3 fs-2"
      [routerLink]="['userDrugForm', '0', 'edit']"
      >Donate your excess drugs</a
    > -->
    <!-- </h1> -->
    <!-- <a
      class="btn rounded-pill main-btn mb-3 fs-2"
      [routerLink]="['register']"
      [hidden]="isUserLogged"
      >Donate</a
    > -->
    <!-- <a
      class="btn rounded-pill main-btn mb-3 fs-2"
      [routerLink]="['search']"
      [hidden]="!isUserLogged"
      >Search for needed drug</a
    > -->
  </div>
</div>
<!-- End Landing  -->

<div class="container serv">
  <div class="main-heading">
    <h2>Services</h2>
  </div>
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-3 me-5">
      <div class="card bg-primary-subtle">
        <!-- <img src="..." class="card-img-top" alt="..." /> -->
        <i class="bi bi-plus-circle fs-1 text-center mt-3 mb-3"></i>
        <div class="card-body">
          <h2 class="card-title text-center">Add New Drug</h2>
          <p class="card-text text-center">
            Donate excess drug to those in need
          </p>

          <a
            [routerLink]="['userDrugForm/0/edit']"
            class="btn btn-primary d-block w-50 m-auto mt-4"
            >Add</a
          >
        </div>
      </div>
    </div>
    <div class="col-3 ms-5">
      <div class="card bg-primary-subtle">
        <!-- <img src="..." class="card-img-top" alt="..." /> -->
        <i class="bi bi-search fs-1 text-center mt-3 mb-3"></i>
        <div class="card-body">
          <h2 class="card-title text-center">Search for your drug</h2>
          <p class="card-text text-center">
            Find the drug you want with need quantity
          </p>
          <a
            [routerLink]="['search']"
            class="btn btn-primary d-block w-50 m-auto mt-4"
            >Search</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<app-contact></app-contact>
