<div class="container">
  <div class="row">
    <div *ngFor="let drugReq of drugsReqsAsDonerList; index as i" class="col-3">
      <div class="card mt-5" style="width: 18rem">
        <img
          [src]="
            'http://localhost:5250/' +
            drugReq.requestItems[0].userDrug.photos[0].apiPath
          "
          class="card-img-top"
          style="width: 18rem; height: 18rem"
        />
        <div
          class="card-body"
          [ngClass]="{
            'bg-danger-subtle': drugReq.state === 'Canceled',
            'bg-success-subtle': drugReq.state === 'Accepted',
          }"
        >
          <h2 class="card-title">
            {{ drugReq.requestItems[0].userDrug.drug.en_Name }}
          </h2>

          <p class="card-text">
            Reciever Name:
            {{ drugReq.receiver.firstName + " " + drugReq.receiver.lastName }}
          </p>
          <p class="card-text">
            Reciever phone:
            {{ drugReq.receiver.phoneNumber }}
          </p>
          <p class="card-text">
            Expire date:
            {{ drugReq.requestItems[0].userDrug.expireDate }}
          </p>
          <p class="card-text">
            Quantity:
            {{ drugReq.requestItems[0].quantity }}
          </p>
          <p class="card-text">
            Created at:
            {{ drugReq.createdAt }}
          </p>
          <p class="card-text">
            Request state:
            {{ drugReq.state }}
          </p>

          <container-element [ngSwitch]="drugReq.state">
            <div class="text-center">
              <button
                *ngSwitchCase="'Pending'"
                (click)="cancelReq(drugReq.id)"
                class="btn btn-primary me-3"
              >
                Cancel
              </button>
              <button
                *ngSwitchCase="'Pending'"
                (click)="acceptReq(drugReq.id)"
                class="btn btn-primary"
              >
                Accept
              </button>
            </div>
          </container-element>
        </div>
      </div>
    </div>
  </div>
</div>
