#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 296px;
}

#content {
  margin-bottom: 50px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 296px;
}
