<div class="container">
  <form [formGroup]="userLoginForm" class="m-3" (ngSubmit)="login()">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        formControlName="email"
        class="form-control"
        id="email"
        name="email"
      />
      <div
        class="alert alert-warning"
        [hidden]="email?.valid || email?.untouched"
      >
        <small *ngIf="email?.errors?.['required']"> Email is required </small>
        <small *ngIf="email?.errors?.['pattern']">
          this email
          <b>{{email?.errors?.['pattern'].actualValue}}</b> dosen't match.
        </small>
      </div>
    </div>

    <div class="mb-3">
      <label for="uPass" class="form-label">Password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        id="uPass"
        name="userpassword"
      />
      <div
        class="alert alert-warning"
        [hidden]="password?.valid || password?.untouched"
      >
        <small *ngIf="password?.errors?.['required']">
          Password is required
        </small>
      </div>
    </div>

    <div class="alert alert-warning" *ngIf="ifError">
      <small> {{ errorMessage }} </small>
    </div>

    <button
      [disabled]="userLoginForm.invalid"
      type="submit"
      class="btn btn-primary"
    >
      Login
    </button>
  </form>
</div>
